.App {
    text-align: center;
  }

.box_left{
    position: absolute;
    background-color: #025959;
    width: 50%;
    height: 100vh;
}

.box_right{
    background-color: #09FFE7;
    width: 50%;
    height: 100vh;
    float: right;
}

.titleOla{
    color: #09FFE7;
    padding-top: 200px;
    font-size: 72px;
}
  
.subTitleName{
    color: #BDE5E2;
    padding-top: 80px;
    font-size: 32px;
}

.titleName{
    color: #09FFE7;
    font-size: 63px;
}

.buttonSkills{
    width: 60%;
    height: 60px;
    border-radius: 25px;
    border-style: none;
    margin-top: 40px;
    background-color: #09FFE7;
    font-size: 32px;
    color: #025959;
}

.buttonSkills:hover{
    background-color: #0daa9a;
}